<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="identity" class="navigation col-lg-1">
  <h1>
    {{title}}
  </h1>
</div>

<div class="clearfix"></div>

<div *ngIf="identity"class="navigation col-lg-11">
  <p>Estás logueado en la aplicación</p>
</div>


<div class="container">
  <div class="row" *ngIf="!identity">
    <div class="col-lg-6">
      <h1>Identificación</h1>

      <form ngNativeValidate #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
        <p>
          <label>Correo electrónico:</label>
          <input #email="ngModel" name="email" [(ngModel)]="user.email" type="email" class="form-control" required />
        </p>
        <p>
          <label>Contraseña:</label>
          <input #password="ngModel" name="password" [(ngModel)]="user.password" type="password" class="form-control" required />
        </p>
        <p>
          <input type="submit" value="Entrar" class="btn btn-primary" />
        </p>
      </form>

    </div>
    <div class="col-lg-6">
      <h1>Registro</h1>

      <form class="col-md-10">
        <p>
          <label>Nombre:</label>
          <input type="text" class="form-control" required>
        </p>
        <p>
          <label>Apellidos:</label>
          <input type="text" class="form-control" required>
        </p>
        <p>
          <label>Correo electrónico:</label>
          <input type="email" class="form-control" required>
        </p>
        <p>
          <label>Contraseña:</label>
          <input type="password" class="form-control" required>
        </p>
        <p>
          <input type="submit" value="Registrar" class="btn btn-primary">
        </p>
      </form>

    </div>
  </div>
</div>
